<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,  minimum-scale=1.0,
                                   maximum-scale=1.0" />

    <meta charset="utf-8" />
    <meta name="description" content="Official Website of ISIT 2013 ISTANBUL |
        IEEE International Symposium on Information Theory" />
    <title>{{page.title}} | ISIT 2013 ISTANBUL | IEEE International Symposium on Information Theory</title>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <link rel="stylesheet" href="css/style.css" media="screen" />
    <link rel="stylesheet" href="css/print.css" media="print"/>
    <link rel="shortcut icon" href="/images/favicon.ico" />
  </head>

  <body>
    <div id="wrapper">

      <header>
        <div class="colmask threecol">
	  <div class="colmid">
	    <div class="colleft">
	      <div class="col1">
                <hgroup class="hgroupstyle">
                  <h1>ISIT 2013</h1>
                  <h2>IEEE International Symposium on Information Theory</h2>
                  <h3>July 7-12, 2013 &mdash; Istanbul, Turkey</h3>
                </hgroup>
	      </div>
	      <div class="col2">
                <img src="images/logo.jpg" id="logo" width="180" height="117" />
	      </div>
	      <div class="col3">
                <img src="images/ieee_mb_blue.png" id="ieeelogo" width="160" height="47" class="" />
                <img src="images/itlogo.gif" id="ieeeitlogo" width="100" height="99" />
	      </div>
	    </div>
	  </div>
        </div>
      </header>

      <nav>
        <ul>
          <li><a href="index.html" class="current">Home</a></li>
          <li><a href="committee.html">Committee</a></li>
          <li><a href="files/isit2013_preliminary_cfp.pdf">Call for papers</a></li>
          <li><a href="technical_program.html">Technical Program</a></li>
          <li><a href="tutorials.html">Tutorials</a></li>
          <li><a href="plenary_speakers.html">Plenary Speakers</a></li>
          <li><a href="shannon_lecturer.html">Shannon Lecturer</a></li>
          <li><a href="recent_result.html">Recent Result</a></li>
          <li><a href="conference_venue.html">Conference Venue</a></li>
          <li><a href="accomodation.html">Accommodation</a></li>
          <li><a href="registration.html">Registration</a></li>
          <li><a href="travel_information.html">Travel Information</a></li>
          <li><a href="visa.html">Visa</a></li>
          <li><a href="tours_excursions.html">Tours and Excursions</a></li>
          <li><a href="travel_support.html">Travel Support</a></li>
          <li><a href="useful_links.html">Useful Links</a></li>
          <li><a href="social_program.html">Social Program</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li></li>
        </ul>
      </nav>

      <article>
      {{content}}

      </article>
      <!--footer>
          Comment out for the moment
      </footer-->
      <div class="clear:both"></div>
    </div> <!--wrapper -->
  </body>
</html>
